html{
    max-width: 70%; 
    margin-left: auto; 
    margin-right: auto;
}
h2{
    font-family: sans-serif; 
    margin-top: 1.5em;
}
h3{
    font-family: sans-serif; 
    margin-top: 1.4em;
}
h1{
    font-family: sans-serif; 
    margin-top: 1.6em;
    font-size: 32px;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
figcaption{font-style: italic;}
figure{float: right; 
    margin-left: 1pc;
    margin-right: 0pc;
    margin-top: 0pc;
    margin-bottom: 0.5pc;
        }
p{
    text-align: justify;
 }